.btn {
	border-radius: 24px;
	padding: 12px 24px;
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	color: var(--background);
	opacity: 1;
  transition: opacity 0.3s ease;
}

.btn:hover {
	opacity: 0.7;
}

.dark {
	background-color: var(--dark);
}

.color3 {
		background-color: var(--primary-color-3);
}

.color2 {
	background-color: var(--primary-color-2);
}