/* Импорты переменных и сброса стилей */

@import './reset.css';
@import './vars.css';

/* Импорты стилей для слайдера */

@import "swiper/css";

body {
	background: var(--main-background-color);
}

.wrapper {
	max-width: 1330px;
	width: 100%;
	margin: 0 auto;
	padding: 15px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.content {
	flex: 1;
}