:root {
	--font-family: "Roboto", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Montserrat", sans-serif;
	--main-background-color: #f0ebe1;
	--dark: #262522;
	--background: #f0ebe1;
	--primary-color-1: #9fdc26;
	--primary-color-2: #f29c33;
	--primary-color-3: #ee6352;
	--primary-color-4: #c4e5fc;
	--light: #fffbf2;
}

