.card {
	width: 100%;
	height: 460px;
	border-radius: 24px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
	position: relative;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #262522 110%);
  pointer-events: none; 
}

.image {
	height: 234px;
	overflow: hidden;
	flex-shrink: 0;
}

.image img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

.info {
	display: flex;
	flex-direction: column;
	margin-top: auto;
	padding: 24px 24px 16px;
	z-index: 2;
}

.title {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: -0.01em;
	color: var(--background);
	margin-bottom: 12px;
	flex-shrink: 0;
}

.description {
	font-family: var(--font-family);
	font-weight: 300;
	font-size: 16px;
	line-height: 140%;
	letter-spacing: 0.01em;
	color: var(--background);
	margin-bottom: 24px;
	flex: 1;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	
}

.attributes {
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 12px;
	line-height: 120%;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	color: var(--background);
}

@media (max-width: 768px) {
	.title {
		font-size: 21px;
	}

	.description {
		font-size: 14px;
	}

	.footer {
		flex-direction: column;
		gap: 16px;
		align-items: flex-start;
	}
}